#celu{
    width:700px;
    margin-left: 300px;
}
#sn{
    width: 50px;
    margin-top: -550;
    margin-left: 540;
}
#in{
    width: 90;
    margin-top: -562px;
    margin-left: 600;
}
#fa{
    width: 52;
    margin-top: -553;
    margin-left: 700;
}
#wh{
    width: 100px;
    margin-top: -470;
    margin-left: 599;
}
#bat{
    width: 70px;
    margin-top: -472;
    margin-left: 540;
}
#tw{
    width: 50px;
    margin-top: -461;
    margin-left: 709;
}
#it{
    width: 50px;
    margin-left: 690;
    margin-top: -148;
}
#te{
    width: 50px;
    margin-left: 560;
    margin-top: -148;
}
#cl{
    width: 50px;
    margin-left: 550px;
    margin-top: -370;
}
#vs{
    width: 70px;
    margin-left: 610;
    margin-top: -376px;
}
#re{
    width: 47px;
    margin-left: 700;
    margin-top: -368;
}
#sa{
    width: 80px;
    margin-left: 613;
    margin-top: -146;
}